.kpis {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 16px;
  margin-bottom: 16px;

  @include mq(md) {
    grid-template-columns: 1fr;
  }

  @include mq(lg) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin-bottom: 16px;
}

.shortcuts {
  display: grid;
}
